h1{
    text-align: center;
    border-bottom:groove rgba(0, 0, 0, 0.25);
    border-bottom-width: 1px;
}

.div-tarefas{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    */
    min-width: 1000px;
    max-width: 1000px;
    display: inline-block;
    border: 1px groove;

}

.div-input-btn{
    /* display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 1000px; */
    float: right;
    position:sticky;
    top: 0; 

}

li{
    padding: 5px;
    margin: 10px;
    list-style: none;
    border: 1px groove;
}

button{
    margin-left: 50%;
    margin-top: 10px;
    border-radius: 10px;
    width: 45%;
    height: 50%;
    background-color: #ffffff;
    cursor: pointer;
    align-self: flex-end;

}

button:hover{
    margin-left: 50%;
    margin-top: 10px;
    border-radius: 10px;
    width: 45%;
    height: 50%;
    background-color: #c2d5f8;
    cursor: pointer;
    align-self: flex-end;

}

input[type=text]{
    align-self: flex-end;
    width: 90%;
    border-style: groove;
    background: #f1f1f1;
 }
