h1{
    text-align: center;
    border-bottom:groove rgba(0, 0, 0, 0.25);
    border-bottom-width: 1px;
}

.div-tarefas{
    min-width: 1000px;
    max-width: 1000px;
    display: inline-block;
    border: 1px groove;
    box-shadow: 4px 0px 55px 2px rgba(94, 94, 94, 0.5);
}

.div-input-btn{
    float: right;
    position:sticky;
    top: 5px; 
}

li{
    padding: 5px;
    margin: 10px;
    list-style: none;
    border: 1px groove;
}

button{
    border: 5px groove;
    margin-left: 40%;
    margin-top: 10px;
    border-radius: 10px;
    width: 45%;
    height: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

button:hover{
    background-color: #c2d5f8;
}

span{
    color: rgb(0, 0, 0);
    font-size: 24px;
}

textarea {
    border: 1px groove;
    margin-left: 25%;
    resize: none;
}

textarea:focus-visible {
    border: none;
}